:root {
  --font-family: "orchidea", sans-serif;
  --font-family-text: "manrope", sans-serif;
  --content-width: 1300px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --calc-padding: max(
          10px,
          calc((100% - var(--container-width)) / 2) + var(--container-offset)
  );
  --header-color: linear-gradient(0deg, #464341 0%, #010101 100%);
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #141414;
}